{% load static %}
<!DOCTYPE html>

<html lang="vi">
	<head>
        <title data-base-url="{{ BASE_URL }}" data-static-url="{{ STATIC_URL }}" data-media-url="{{ MEDIA_URL }}">
            {% block title %}{% endblock %}
        </title>
        {% include 'back/header_ref.html' %}
		<style type="text/css">
			#spinner {
				position: fixed;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				z-index: 99999;
				/*
				opacity: 0.8;
				*/
				background: url("{{ STATIC_URL }}img/loading-line.gif") 50% 50% no-repeat white;
			}
		</style>
		<script type="text/javascript">
	        $(function(){
	        	//120;90
	            var userEmail = $("#user-email");
	            var userEmailContainer = $("#user-email-container");
	            var userPassword = $("#user-password");
	            var userPasswordContainer = $("#user-password-container");
	            

	            userEmail.focus(function(){
	            	userEmailContainer.animate({width: 170}, 500 );
	            	userPasswordContainer.animate({width: 40}, 500 );
	                //userEmailContainer.width(170);
	                //userPasswordContainer.width(40);
	                userEmail.attr('placeholder', 'Email...');
	                userPassword.attr('placeholder', '...');
	            });
	            userEmail.focusout(function(){
	                
	            });

	            userPassword.focus(function(){
	            	userEmailContainer.animate({width: 40}, 500 );
	            	userPasswordContainer.animate({width: 170}, 500 );
	                //userEmailContainer.width(40);
	                //userPasswordContainer.width(170);
	                userEmail.attr('placeholder', '...');
	                userPassword.attr('placeholder', 'Password...');
	            });
	            userPassword.focusout(function(){
	                
	            });
	        });
	    </script>
    </head>
		
    <body data-ng-app="App" class="container"><div id="spinner"></div>
		<div id="waiting-heading">
			<img src="{% static 'img/loading-line.gif' %}" style="margin-top: 10px" />
		</div>
		<div id="wrapper" class="remodal-bg">
			<input type="hidden" id="js-vars" value="{{ js_vars }}" />
			
			<div class="ui grid main-container">
				<div class="two column row hf-background" style="padding-left:0;padding-right:0">
					<div class="one wide column" style="padding-top: 4px;padding-left:0">
						{% if USER_ID %}
						<a href="{% url 'user:index' %}" style="color:white">
							<span class="main-logo">XIVILA</span>
						</a>
						{% else %}
						<a href="{% url 'home:index' %}" style="color:white">
							<span class="main-logo">XIVILA</span>
						</a>
						{% endif %}
					</div>
					<div class="fifteen wide column" style="padding-top: 5px;padding-right:0;text-align:right">
						{% if USER_ID != None %}
						<div style="margin: 6px">
							Hello <span><b>{{ USER_FULLNAME }}</b></span>&nbsp;
							<a href="{% url 'user:logout' %}" style="color:white; text-decoration: none">
								<i class="ui off icon"></i>
							</a>
						</div>
						{% else %}
							<form action="{% url 'user:authenticate' %}" method="POST" class="ui text menu" style="margin:4px">
								{% csrf_token %}
								<div class="item" style="margin:4px;margin-top:5px">
									<div class="ui input" style="width:120px" id="user-email-container">
										<input type="email" name='email' id="user-email" required autofocus placeholder="Email...">
									</div>
								</div>
								<div class="item" style="margin:4px;margin-top:5px">
									<div class="ui input" style="width:90px" id="user-password-container">
										<input type="password" name='password' id="user-password" required placeholder="Password...">
									</div>
								</div style="width:40px">
								<div class="item" style="margin-left:2px;margin-right:0">
									<button class="tiny ui button">Login</button>
								</div>
							</form>
						{% endif %}
					</div>
				</div>
			</div>
			
			<div class="ui grid stackable main-container">
				<div class="two column row">
					<div class="two wide column" style="padding-right: 0">
						&nbsp;
					</div>
					<div class="twelve wide column">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
			
			<br/>
			<br/>
			
			<div id="main-footer" class="hf-background main-container" style="text-align: right">
				<div style="position: relative; padding-top: 13px; padding-right: 30px">
					<span>
						©2014 XIVILA - Email: <a href="info@xivila.com" style="color:white">info@xivila.com</a>, Hotline: 0165.5607.223 gặp Mr.Hiếu
					</span>
				</div>
			</div>
		</div>
        {% include 'back/footer_ref.html' %}
    </body>
</html>