html, body{
	position: relative;
	font-family: "Arial" ! important;
	font-size: 14px ! important;
	color: #555555;
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	/*
	overflow-x: hidden;
	*/
}

.no_style{
    color: red;
}

.yes_style{
    color: #008000;
}

#float-panel{
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 3px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    display: none;
    box-shadow: 0px 1px 1px black;
    z-index: 9998;
}

#wrapper{
	min-height:100%;
	position:relative;
	margin: 0 ! important;
	padding: 0 ! important;
}

.main-container{
	margin: 0 ! important;
	/*
	padding: 0 ! important;
	*/
}

#main-footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: auto;
}

.single-control{
	height: 37px;
	border-radius: 3px;
	border: solid 1px #D0D0D0;
	padding-left: 5px;
	padding-right: 5px;
}

div{
	font-family: "Arial";
	font-size: 14px;
}

span{
	font-family: "Arial";
	font-size: 14px;
}

.standard-input{
	height: 37px;
	border: 1px solid #D0D0D0;
	border-radius: 3px;
	padding: 5px;
}

.hf-background{
	background-color: #DE2127;
	border-radius: 0;
	min-height: 41px;
	height: auto;
	color: white;
}

.hf-background button{
	height: 33px;
}

.action-icon{
	width: 50px;
	text-align: center;
	cursor: pointer;
}

.action-icon a{
	text-decoration: none;
	color: #7F7F7F;
}

.report-preview-call th:first-child{
	width: 150px!important;
}

.report-preview-mining th:first-child{
	width: 60%!important;
}

.report-preview-approve th:first-child{
	width: 60%!important;
}

.main-logo{
	font-weight: bold;
	font-size: 34px;
	line-height: 1;
	margin: 0;
	padding: 0;
	margin-left: 5px;
	float: left;
}

#waiting-heading{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 9999;
	background-color: white;
	color: white;
	opacity: 0.5;
	text-align: center;
	display: none;
}

label span{
	font-weight: normal;
}

.flag-img{
	height: 18px;
}

.transparent{
	opacity: .2;
}

.drag-drop-zone{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: move;
}