{% extends extends_template %}
{% load static %}
{% block title %}Export Report By Call{% endblock %}
{% block content %}
<div ng-controller="ClientReportExport">
    <h2 style="margin:0;line-height: 1">Export calling report</h2>
    <hr/>
    {% csrf_token %}
    <table>
        <tr>
            <td><label for="filter_tm">TM &nbsp;&nbsp;&nbsp;</label></td>
            <td><input type="radio" ng-model="model.vars.filter_type" value="tm" checked/>&nbsp;&nbsp;&nbsp;</td>
            <td style="min-width: 200px">
                <select id="select-tm"></select>
            </td>
        </tr>
        {% if user_type == 'ADMIN' %}
        <tr>
            <td><label for="filter_hub">Hub &nbsp;&nbsp;&nbsp;</label></td>
            <td><input type="radio" ng-model="model.vars.filter_type" value="hub"/>&nbsp;&nbsp;&nbsp;</td>
            <td>
                <select id="select-hub"></select>
            </td>
        </tr>
        <tr>
            <td><label for="filter_hub">All &nbsp;&nbsp;&nbsp;</label></td>
            <td><input type="radio" ng-model="model.vars.filter_type" value="all"/>&nbsp;&nbsp;&nbsp;</td>
        </tr>
        {% endif %}
    </table>

    <hr/>
    
    <div style="width: 200px; float:left">
        <select id="range_type"></select>
    </div>
    <b><i class="right arrow icon"></i></b>
    <input type="text" id="start_date" class="standard-input" name="start_date" placeholder="Start Date...">
    <b ng-show="model.vars.isCustom"><i class="right arrow icon"></i></b>
    <input type="text" id="end_date" class="standard-input" name="end_date" ng-show="model.vars.isCustom" placeholder="End Date...">
    <button type="button" class="ui secondary button" ng-click="submitFormFilter()">
        <i class="download icon"></i>
        Report
    </button>
    <img src="{% static 'img/loading-line.gif' %}" style="height:10px" data-ng-show="model.vars.displayLoading"/>
    <hr/>
    <a href="{$ model.vars.pdfUrl $}" class="ui secondary button" ng-if="model.vars.listReportTitle">
        <i class="download icon"></i>
        PDF
    </a>
    <table class="table table-hover report-preview-call">
        <thead>
            <tr>
                <th ng-repeat="reportTitle in model.vars.listReportTitle">
                    {$ reportTitle $}
                </th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="listReport in model.vars.listReport">
                <td ng-repeat="reportItem in listReport track by $index">
                    {$ reportItem $}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th ng-repeat="total in model.vars.listReportTotal track by $index">
                    {$ total $}
                </th>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %}