{% extends 'back/base_user.html' %}
{% load static %}
{% block title %}Report{% endblock %}
{% block content %}

    <div data-ng-controller="ClientReport" ng-init="init(false)">
        {% if is_log %}
            <form class="five column stackable ui grid" method="get" action="./history">
        {% else %}
            <form class="five column stackable ui grid" method="get" action="./">
        {% endif %}

            <input type="hidden" id="sp_tiep_can" name="sp_tiep_can"/>
            <input type="hidden" id="kq_cuoc_goi" name="kq_cuoc_goi"/>
            <input type="hidden" id="kq_cuoc_gap" name="kq_cuoc_gap"/>
            <input type="hidden" id="tt_khai_thac" name="tt_khai_thac"/>

            <div class="column">
                <select id="select-sp_tiep_can_filter"></select>
            </div>
            <div class="column">
                <select id="select-kq_cuoc_goi_filter"></select>
            </div>
            <div class="column">
                <select id="select-kq_cuoc_gap_filter"></select>
            </div>

            <div class="column">
                <select id="select-tinh_trang_khai_thac_filter"></select>
            </div>
            <div class="column">
                <button class="ui button">
                    <i class="filter icon"></i>
                    Filter
                </button>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30px;cursor: pointer" data-ng-click="selectAllCheckBox()">
                        <i class="checkmark icon" style="font-size: 20px"></i>
                    </th>
                    <th>TM</th>
                    <th>Hub</th>
                    <th>MST</th>
                    <th>Công ty</th>
                    <th>SP tiếp cận</th>
                    <th>KQ cuộc gọi</th>
                    <th>KQ cuộc gặp</th>
                    <th>TT khai thác</th>
                    <th>Commit status</th>
                    <th colspan="3" style="text-align: center">
                        <b style="cursor: pointer" data-ng-click="openFormEdit()" ng-show="model.ref.list_company">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Add new &nbsp;&nbsp;
                        </b>
                    </th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>
                        <i class="remove icon" data-ng-show="model.vars.listItemId" style="font-size: 20px" data-ng-click="openFormRemove(model.vars.listItemId)"></i>
                    </td>
                    <td colspan="12">
                        <div class="ui fluid input">
                            <input type="text" class="form-control" data-ng-model="model.vars.inputFilter" autofocus placeholder="Search..." />
                        </div>
                    </td>
                </tr>
                <tr data-ng-repeat="item in model.vars.listItem">
                    <td><input type="checkbox" class="selectCheckBox" data="{$ item.id $}" data-ng-click="selectCheckBox()" /></td>
                    <td>{$ item.user | mapTitle : model.ref.list_user_ref $}</td>
                    <td>{$ item.zone_id | mapTitle : model.ref.list_zone_ref $}</td>
                    <td>{$ item.cty_mst $}</td>
                    <td>{$ item.cty_name $}</td>
                    <td>{$ item.sp_tiep_can | mapTitle : model.ref.list_sp_tiep_can_ref $}</td>
                    <td>{$ item.kq_cuoc_goi | mapTitle : model.ref.list_ket_qua_cuoc_goi_ref $}</td>
                    <td>{$ item.kq_cuoc_gap | mapTitle : model.ref.list_ket_qua_cuoc_gap_ref $}</td>
                    <td>{$ item.tinh_trang_khai_thac | mapTitle : model.ref.list_tinh_trang_khai_thac_ref $}</td>
                    <td><span ng-bind-html='item.commit | toString : other'></span></td>

                    <td class="action-icon" data-ng-click="openFormView(item.id)"><i class="search icon" style="font-size: 20px"></i></td>
                    <td class="action-icon" data-ng-click="openFormEdit(item.id)"><i class="pencil icon" style="font-size: 20px"></i></td>
                    <td class="action-icon" data-ng-click="openFormRemove(item.id)"><i class="remove icon" style="font-size: 20px"></i></td>
                </tr>
                
            </tbody>
            
            <tfoot>
                <tr>
                    <th style="cursor: pointer">
                        <i class="remove icon" data-ng-show="model.vars.listItemId" style="font-size: 20px" data-ng-click="openFormRemove(model.vars.listItemId)"></i>
                    </th>
                    <th colspan="11">
                        &nbsp;
                    </th>
                </tr>
            </tfoot>
            
        </table>
        {% include 'Report/report_modal.html' %}
        {% include 'Report/report_modal_view.html' %}
    </div>

{% endblock %}