{% extends extends_template %}
{% load static %}
{% block title %}Export Report{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(function(){
            var current_date = new Date();
            var year_str = current_date.getFullYear().toString();
            var month_str = "";
            var day_str = "";
            if(current_date.getMonth() < 10 ){
                month_str = "0" + (current_date.getMonth() + 1).toString();
            }else{
                month_str = (current_date.getMonth() + 1).toString();
            }
            if(current_date.getDate() < 10 ){
                day_str = "0" + current_date.getDate().toString();
            }else{
                day_str = current_date.getDate().toString();
            }

            var date_str = year_str + "-" + month_str + "-" + day_str;
            var dateOption = {
                timepicker: false,
                closeOnDateSelect: true,
                mask: true,
                format: 'Y-m-d'
            };
            var basic_date = $('#basic_date')
            basic_date.datetimepicker(dateOption);
            basic_date.val(date_str);

            var start_date = $('#start_date')
            start_date.datetimepicker(dateOption);
            start_date.val(date_str);

            var end_date = $('#end_date')
            end_date.datetimepicker(dateOption);
            end_date.val(date_str);
        });
    </script>
    <div>
        <h2 style="margin:0;line-height: 1">Export report</h2>
        <hr/>
        <form action="{% url 'report:export_file' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="history" value="1" />
            <div class="ui input">
                <input type="text" id="basic_date" name="basic_date" placeholder="Date...">
            </div>
            <br/>
            <br/>
            <div class="ui form">
                <div class="grouped inline fields">
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" id="day_range" name="basic_range" value="day" checked="">
                            <label for="day_range">Day</label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" id="week_range" name="basic_range" value="week">
                            <label for="week_range">Week</label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" id="month_range" name="basic_range" value="month">
                            <label for="month_range">Month</label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" id="year_range" name="basic_range" value="year">
                            <label for="year_range">Year</label>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <button class="ui secondary button">
                <i class="download icon"></i>
                Export
            </button>
            <br/>
            <br/>
        </form>

        <h2 style="margin:0;line-height: 1">Custom export</h2>
        <hr/>
        <form action="{% url 'report:export_file' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="history" value="1" />
            <table>
                <tr>
                    <td>From &nbsp;&nbsp;</td>
                    <td>
                        <div class="ui input">
                            <input type="text" id="start_date" name="start_date" placeholder="Start Date...">
                        </div>
                    </td>
                    <td>&nbsp;&nbsp; To &nbsp;&nbsp;</td>
                    <td>
                        <div class="ui input">
                            <input type="text" id="end_date" name="end_date" placeholder="End Date...">
                        </div>
                    </td>
                </tr>
            </table>
            <br/>
            <button class="ui secondary button">
                <i class="download icon"></i>
                Export
            </button>
        </form>
    </div>

{% endblock %}