{% load static %}
<div >
    <div id="float-panel" style="text-align: center;width: 100%">
        <button class="ui button primary" ng-click="model.act.closeFormEdit()">
            Cancel
        </button>
        <button class="ui button secondary" ng-click="model.act.submitFormEdit()">
            Save
        </button>
        &nbsp;&nbsp;
        <img src="{% static 'img/loading-line.gif' %}" style="height:10px" data-ng-show="model.vars.displayLoading"/>
    </div>

    <div class="remodal" data-remodal-id="modal" id="report-modal" data-remodal-options='{ "hashTracking": false }' data-ng-controller="ClientReportModal">
        <div style="text-align: left">
            <!--
            <h2>Report Editor</h2>
            -->
            <form class="ui form segment" id="report-form" data-ng-submit="submitFormEdit()">
                {% csrf_token %}

                <div class="field" ng-show="!model.vars.isEdit">
                    <label>Company</label>
                    <select id="select-cty"></select>
                </div>

                <div class="field" ng-show="model.vars.isEdit">
                    <label>Company</label>
                    <span><b>{$ model.fields.cty_name $}</b></span>
                </div>

                <div class="field">
                    <label>Kết quả cuộc gọi</label>
                    <select id="select-kq_cuoc_goi"></select>
                </div>

                <div class="field">
                    <label>Ngày gọi điện gần nhất</label>
                    <input type="text" id="ngay_goi_dien_gan_nhat" placeholder="Ngày gọi điện gần nhất..."/>
                </div>

                <div class="field">
                    <label>Ngày hẹn</label>
                    <input type="text" id="ngay_hen" placeholder="Ngày hẹn..."/>
                </div>

                <div class="field">
                    <label>Địa chỉ xác nhận lại</label>
                    <input type="text" id="dia_chi_xac_nhan_lai" data-ng-model="model.fields.dia_chi_xac_nhan_lai" placeholder="Địa chỉ xác nhận lại..."/>
                </div>

                <div class="field">
                    <label>Người liên lạc</label>
                    <input type="text" id="nguoi_lien_lac" data-ng-model="model.fields.nguoi_lien_lac" placeholder="Người liên lạc..."/>
                </div>

                 <div class="field">
                    <label>Số điện thoại</label>
                    <input type="text" id="phone" data-ng-model="model.fields.phone" placeholder="Số điện thoại..."/>
                </div>

                <div class="field">
                    <label>SP tiếp cận</label>
                    <select id="select-sp_tiep_can"></select>
                </div>

                <div class="field">
                    <label>Kết quả cuộc gặp</label>
                    <select id="select-kq_cuoc_gap"></select>
                </div>

                <div class="field">
                    <label>Tình trạng khai thác</label>
                    <select id="select-tinh_trang_khai_thac"></select>
                </div>

                <div class="field">
                    <label>Giới thiệu phân khúc khác</label>
                    <select id="select-gt_pk_khac"></select>
                </div>

                <div class="field">
                    <label>Ngày tiếp cập 1</label>
                    <input type="text" id="ngay_tiep_can_1" placeholder="Ngày tiếp cập 1..."/>
                </div>

                <div class="field">
                    <label>Ngày tiếp cập 2</label>
                    <input type="text" id="ngay_tiep_can_2" placeholder="Ngày tiếp cập 2..."/>
                </div>

                <div class="field">
                    <label>Ngày tiếp cập 3</label>
                    <input type="text" id="ngay_tiep_can_3" placeholder="Ngày tiếp cập 3..."/>
                </div>

                <div class="field">
                    <label>Ngày tiếp cập 4</label>
                    <input type="text" id="ngay_tiep_can_4" placeholder="Ngày tiếp cập 4..."/>
                </div>


                <div class="field">
                    <label>Ngày KH đồng ý nộp hồ sơ</label>
                    <input type="text" id="ngay_kh_dong_y_nop_hs" placeholder="Ngày KH đồng ý nộp hồ sơ..."/>
                </div>

                <div class="field">
                    <label>Ngày check PreScreen</label>
                    <input type="text" id="ngay_check_prescreen" placeholder="Ngày check PreScreen..."/>
                </div>

                <div class="field">
                    <label>Ngày báo KH thu thập hồ sơ</label>
                    <input type="text" id="ngay_bao_kh_thu_thap_hs" placeholder="Ngày báo KH thu thập hồ sơ..."/>
                </div>

                <div class="field">
                    <label>Ngày thu thập xong hồ sơ</label>
                    <input type="text" id="ngay_thu_thap_xong_hs" placeholder="Ngày thu thập xong hồ sơ..."/>
                </div>

                <div class="field">
                    <label>Ngày Risk yêu cầu bổ sung</label>
                    <input type="text" id="ngay_risk_yeu_cau_bo_sung" placeholder="Ngày Risk yêu cầu bổ sung..."/>
                </div>

                <div class="field">
                    <label>Ngày Risk xác nhận</label>
                    <input type="text" id="ngay_risk_xac_nhan" placeholder="Ngày Risk xác nhận..."/>
                </div>

                <div class="field">
                    <label>Ngày CI bắt đầu điều tra</label>
                    <input type="text" id="ngay_ci_bat_dau_dieu_tra" placeholder="Ngày CI bắt đầu điều tra..."/>
                </div>

                <div class="field">
                    <label>Ngày CI có báo cáo</label>
                    <input type="text" id="ngay_ci_co_bao_cao" placeholder="Ngày CI có báo cáo..."/>
                </div>

                <div class="field">
                    <label>Ngày CA phân tích</label>
                    <input type="text" id="ngay_ca_phan_tich" placeholder="Ngày CA phân tích..."/>
                </div>

                <div class="field">
                    <label>Ngày CA hoàn thành hồ sơ</label>
                    <input type="text" id="ngay_ca_hoan_thanh_hs" placeholder="Ngày CA hoàn thành hồ sơ..."/>
                </div>

                <div class="field">
                    <label>Ngày CM nhận đủ hồ sơ</label>
                    <input type="text" id="ngay_cm_nhan_du_hs" placeholder="Ngày CM nhận đủ hồ sơ..."/>
                </div>

                <div class="field">
                    <label>Ngày phê duyệt</label>
                    <input type="text" id="ngay_phe_duyet" placeholder="Ngày phê duyệt..."/>
                </div>

                <div class="field">
                    <label>Ngày thông báo phê duyệt</label>
                    <input type="text" id="ngay_thong_bao_phe_duyet" placeholder="Ngày thông báo phê duyệt..."/>
                </div>

                <div class="field">
                    <label>Ngày DOCDIS chuẩn bị HĐ</label>
                    <input type="text" id="ngay_docdis_chuan_bi_hd" placeholder="Ngày DOCDIS chuẩn bị HĐ..."/>
                </div>

                <div class="field">
                    <label>Ngày DOCDIS chuẩn bị HĐ xong</label>
                    <input type="text" id="ngay_docdis_chuan_bi_hd_xong" placeholder="Ngày DOCSIS chuẩn bị HĐ xong..."/>
                </div>

                <div class="field">
                    <label>Ngày chuyển hợp đồng cho KH</label>
                    <input type="text" id="ngay_chuyen_hd_cho_kh" placeholder="Ngày chuyển hợp đồng cho KH..."/>
                </div>

                <div class="field">
                    <label>Ngày khách hàng ký hợp đồng</label>
                    <input type="text" id="ngay_kh_ky_hd" placeholder="Ngày khách hàng ký hợp đồng..."/>
                </div>

                <div class="field">
                    <label>Ngày MSB ký hợp đồng phê duyệt</label>
                    <input type="text" id="ngay_msb_ky_hd_phe_duyet" placeholder="Ngày MSB ký hợp đồng phê duyệt..."/>
                </div>

                <div class="field">
                    <label>Ngày KH yêu cầu giải ngân</label>
                    <input type="text" id="ngay_kh_yeu_cau_giai_ngan" placeholder="Ngày KH yêu cầu giải ngân..."/>
                </div>

                <div class="field">
                    <label>Ngày KH giải ngân thành công</label>
                    <input type="text" id="ngay_kh_giai_ngan_thanh_cong" placeholder="Ngày KH giải ngân thành công..."/>
                </div>

                <div class="field">
                    <label>Ngày mở hạn mục trên hệ thống</label>
                    <input type="text" id="ngay_mo_han_muc_tren_he_thong" placeholder="Ngày mở hạn mục trên hệ thống..."/>
                </div>

                <div class="field">
                    <label>Ghi chú</label>
                    <input type="text" id="ghi_chu" data-ng-model="model.fields.ghi_chu" placeholder="Ghi chú..."/>
                </div>







                <div class="field" data-ng-show="model.vars.errorMessage" style="margin:0">
                    <div class="ui red message" style="margin:0; margin-bottom: 17px" >
                        <ul>
                            <li ng-repeat="message in model.vars.errorMessage">{$ message $}</li>
                        </ul>
                    </div>
                </div>

                <div style="text-align: right">
                    <img src="{% static 'img/loading-line.gif' %}" style="height:10px" data-ng-show="model.vars.displayLoading"/>
                    &nbsp;&nbsp;
                    <!--
                    <button type="button" class="ui button secondary" ng-click="submitFormEdit()">
                        Save
                    </button>
                    -->
                    <button class="ui button secondary">
                        Save
                    </button>
                </div>
            </form>
        </div>

    </div>

</div>