{% load static %}

<div class="remodal" data-remodal-id="modalView" data-remodal-options='{ "hashTracking": false }' data-ng-controller="ClientReportModal">
	
	<div style="text-align: left" class="ui segment">
		<!--
		<h2>Report Editor</h2>
		-->
		<table class="table table-striped">
			{% csrf_token %}

            <tr>
				<td><b>Công ty</b></td>
                <td><b>{$ model.view.cty_name $}</b></td>
			</tr>

            <tr>
				<td><b>Kết quả cuộc gọi</b></td>
                <td><b>{$ model.view.kq_cuoc_goi | mapTitle : model.ref.list_ket_qua_cuoc_goi_ref $}</b></td>
			</tr>

            <tr>
				<td>Ngày gọi điện gần nhất</td>
                <td>{$ model.view.ngay_goi_dien_gan_nhat $}</td>
			</tr>

            <tr>
				<td>Ngày hẹn</td>
                <td>{$ model.view.ngay_hen $}</td>
			</tr>

            <tr>
				<td>Địa chỉ xác nhận lại</td>
                <td>{$ model.view.dia_chi_xac_nhan_lai $}</td>
			</tr>

            <tr>
				<td>Người liên lạc</td>
                <td>{$ model.view.nguoi_lien_lac $}</td>
			</tr>

             <tr>
				<td>Số điện thoại</td>
                 <td>{$ model.view.phone $}</td>
			</tr>

            <tr>
				<td><b>SP tiếp cận</b></td>
                <td><b>{$ model.view.sp_tiep_can | mapTitle : model.ref.list_sp_tiep_can_ref $}</b></td>
			</tr>

            <tr>
				<td><b>Kết quả cuộc gặp</b></td>
                <td><b>{$ model.view.kq_cuoc_gap | mapTitle : model.ref.list_ket_qua_cuoc_gap_ref $}</b></td>
			</tr>

            <tr>
				<td><b>Tình trạng khai thác</b></td>
                <td><b>{$ model.view.tinh_trang_khai_thac | mapTitle : model.ref.list_tinh_trang_khai_thac_ref $}</b></td>
			</tr>

            <tr>
				<td>Ngày tiếp cập 1</td>
                <td>{$ model.view.ngay_tiep_can_1 $}</td>
			</tr>

            <tr>
				<td>Ngày tiếp cập 2</td>
                <td>{$ model.view.ngay_tiep_can_2 $}</td>
			</tr>

            <tr>
				<td>Ngày tiếp cập 3</td>
                <td>{$ model.view.ngay_tiep_can_3 $}</td>
			</tr>

            <tr>
				<td>Ngày tiếp cập 4</td>
                <td>{$ model.view.ngay_tiep_can_4 $}</td>
			</tr>


            <tr>
				<td>Ngày KH đồng ý nộp hồ sơ</td>
                <td>{$ model.view.ngay_kh_dong_y_nop_hs $}</td>
			</tr>

            <tr>
				<td>Ngày check PreScreen</td>
                <td>{$ model.view.ngay_check_prescreen $}</td>
			</tr>

            <tr>
				<td>Ngày báo KH thu thập hồ sơ</td>
                <td>{$ model.view.ngay_bao_kh_thu_thap_hs $}</td>
			</tr>

            <tr>
				<td>Ngày thu thập xong hồ sơ</td>
                <td>{$ model.view.ngay_thu_thap_xong_hs $}</td>
			</tr>

            <tr>
				<td>Ngày Risk yêu cầu bổ sung</td>
                <td>{$ model.view.ngay_risk_yeu_cau_bo_sung $}</td>
			</tr>

            <tr>
				<td>Ngày Risk xác nhận</td>
                <td>{$ model.view.ngay_risk_xac_nhan $}</td>
			</tr>

            <tr>
				<td>Ngày CI bắt đầu điều tra</td>
                <td>{$ model.view.ngay_ci_bat_dau_dieu_tra $}</td>
			</tr>

            <tr>
				<td>Ngày CI có báo cáo</td>
                <td>{$ model.view.ngay_ci_co_bao_cao $}</td>
			</tr>

            <tr>
				<td>Ngày CA phân tích</td>
                <td>{$ model.view.ngay_ca_phan_tich $}</td>
			</tr>

            <tr>
				<td>Ngày CA hoàn thành hồ sơ</td>
                <td>{$ model.view.ngay_ca_hoan_thanh_hs $}</td>
			</tr>

            <tr>
				<td>Ngày CM nhận đủ hồ sơ</td>
                <td>{$ model.view.ngay_cm_nhan_du_hs $}</td>
			</tr>

            <tr>
				<td>Ngày phê duyệt</td>
                <td>{$ model.view.ngay_phe_duyet $}</td>
			</tr>

            <tr>
				<td>Ngày thông báo phê duyệt</td>
                <td>{$ model.view.ngay_thong_bao_phe_duyet $}</td>
			</tr>

            <tr>
				<td>Ngày DOCDIS chuẩn bị HĐ</td>
                <td>{$ model.view.ngay_docdis_chuan_bi_hd $}</td>
			</tr>

            <tr>
				<td>Ngày DOCDIS chuẩn bị HĐ xong</td>
                <td>{$ model.view.ngay_docdis_chuan_bi_hd_xong $}</td>
			</tr>

            <tr>
				<td>Ngày chuyển hợp đồng cho KH</td>
                <td>{$ model.view.ngay_chuyen_hd_cho_kh $}</td>
			</tr>

            <tr>
				<td>Ngày khách hàng ký hợp đồng</td>
                <td>{$ model.view.ngay_kh_ky_hd $}</td>
			</tr>

            <tr>
				<td>Ngày MSB ký hợp đồng phê duyệt</td>
                <td>{$ model.view.ngay_msb_ky_hd_phe_duyet $}</td>
			</tr>

            <tr>
				<td>Ngày KH yêu cầu giải ngân</td>
                <td>{$ model.view.ngay_kh_yeu_cau_giai_ngan $}</td>
			</tr>

            <tr>
				<td>Ngày KH giải ngân thành công</td>
                <td>{$ model.view.ngay_kh_giai_ngan_thanh_cong $}</td>
			</tr>

            <tr>
				<td>Ngày mở hạn mục trên hệ thống</td>
                <td>{$ model.view.ngay_mo_han_muc_tren_he_thong $}</td>
			</tr>

            <tr>
				<td>Ghi chú</td>
                <td>{$ model.view.ghi_chu $}</td>
			</tr>

		</table>
	</div>
	
</div>