{% load static %}
{% load category_sub_items %}
<!DOCTYPE html>

<html lang="vi">
	<head>
        <title data-base-url="{{ BASE_URL }}" data-static-url="{{ STATIC_URL }}" data-media-url="{{ MEDIA_URL }}">
            {% block title %}{% endblock %}
        </title>
        {% include 'back/header_ref.html' %}
		<style type="text/css">
			#spinner {
				position: fixed;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				z-index: 99999;
				/*
				opacity: 0.8;
				*/
				background: url("{{ STATIC_URL }}img/loading-line.gif") 50% 50% no-repeat white;
			}
		</style>
    </head>
		
    <body data-ng-app="App" class="container"><div id="spinner"></div>
		<div id="waiting-heading">
			<img src="{% static 'img/loading-line.gif' %}" style="margin-top: 10px" />
		</div>
		<div id="wrapper" class="remodal-bg">
			<input type="hidden" id="js-vars" value="{{ js_vars }}" />
			
			<div class="ui grid main-container">
				<div class="two column row hf-background">
					<div class="four wide column" style="padding-top: 4px">
						<a href="{% url 'user:index' %}" style="color:white">
							<span class="main-logo">SMER</span>
						</a>
					</div>
					<div class="twelve wide column" style="padding-top: 5px">
						<div style="margin: 6px;text-align: right">
							Hello <span><b>{{ USER_FULLNAME }}</b></span>&nbsp;
							<a href="{% url 'user:logout' %}" style="color:white; text-decoration: none">
								<i class="ui off icon"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="ui grid stackable main-container">
				<div class="two column row">
					<div class="three wide column" style="padding-right: 0">
						<div class="ui fluid vertical menu">
							<a class="item" href="{% url 'user:home' %}" id='user-home'>
								Home
							</a>
                            <a class="item" href="{% url 'user:quota' %}" id='user-quota'>
								Quota
							</a>
                            <a class="item" href="{% url 'report:index' %}" id='report-index'>
								Report
							</a>
                            <a class="item" href="{% url 'report:history' %}" id='report-history'>
								Report history
							</a>
                        </div>

                        <div class="ui fluid vertical menu">
                            <a class="item" href="{% url 'report:call_filter' %}" id='report-call_filter'>
								Export call report
							</a>

							<a class="item" href="{% url 'report:meet_filter' %}" id='report-meet_filter'>
								Export meet report
							</a>

							<a class="item" href="{% url 'report:approve_filter' %}" id='report-approve_filter'>
								Export approve report
							</a>

                            <a class="item" href="{% url 'report:mining_filter' %}" id='report-mining_filter'>
								Export mining report
							</a>

                            <a class="item" href="{% url 'report:export' %}" id='report-export'>
								Export basic report
							</a>
                            <a class="item" href="{% url 'report:export_history' %}" id='report-export_history'>
								Export basic report log
							</a>
						</div>


					</div>
					<div class="thirteen wide column">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
			
			<br/>
			<br/>
			
			<div id="main-footer" class="hf-background main-container" style="text-align: right">
				<div style="position: relative; padding-top: 13px; padding-right: 30px">
					<span>
						©2014 XIVILA
					</span>
				</div>
			</div>
		</div>
        {% include 'back/footer_ref.html' %}
    </body>
</html>