{% if list_side_item %}
<div class="ui fluid vertical menu">
    {% for item in list_side_item %}
    <a class="item" href="{% url template_name category_id=item.id %}" id='{{ cattype }}-index-{{item.id}}'>
        {{ item.title }}
    </a>
    {% endfor %}
</div>
{% endif %}