{% load static %}
{% load compress %}

<script type="text/javascript" src="{% static 'libraries/jquery/responsive-tab/js/easyResponsiveTabs.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/jquery/bootstrap-filestyle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/jquery/jquery.mousewheel.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/jquery/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/jquery/remodal/jquery.remodal.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/jquery/jstree/jstree.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/jquery/datetimepicker/jquery.datetimepicker.js' %}"></script>



<script type="text/javascript" src="{% static 'libraries/semantic/packaged/javascript/semantic.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/semantic/minified/modules/modal.min.js' %}"></script>

<script type="text/javascript" src="{% static 'libraries/bootstrap/js/bootstrap.min.js'%}"></script>

<script type="text/javascript" src="{% static 'libraries/ssm/ssm.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/selectize/js/standalone/selectize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/tinymce/tinymce.min.js' %}"></script>



<script type="text/javascript" src="{% static 'libraries/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/angular/angular-sanitize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/angular/tinymce/tinymce.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/angular/sortable/sortable.js' %}"></script>

{% compress js %}
<script type="text/javascript" src="{% static 'app/construct.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/common/models/common-assess.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-admin-login/models/client-admin-login-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-admin-login/client-admin-login.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-staff/models/client-staff-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-staff/client-staff.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-user/models/client-user-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-user/client-user.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-user-login/models/client-user-login-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-user-login/client-user-login.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-admin/models/client-admin-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-admin/client-admin.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-config/models/client-config-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-config/client-config.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-tinhthanh/models/client-tinhthanh-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-tinhthanh/client-tinhthanh.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-report/models/client-report-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-report/client-report.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-report/client-report-export.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-category/models/client-category-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-category/client-category.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-company/models/client-company-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-company/client-company.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-company/client-company-exchange.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-zone/models/client-zone-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-zone/client-zone.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-template/models/client-template-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-template/client-template.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-dropdown/models/client-dropdown-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-dropdown/client-dropdown.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-dropdown-item/models/client-dropdown-item-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-dropdown-item/client-dropdown-item.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-cv/models/client-cv-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-cv/client-cv.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-cv/client-cv-list.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-basic-info/models/client-cv-basic-info-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-basic-info/client-cv-basic-info.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-awards/models/client-cv-awards-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-awards/client-cv-awards.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-languages/models/client-cv-languages-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-languages/client-cv-languages.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-educations/models/client-cv-educations-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-educations/client-cv-educations.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-projects/models/client-cv-projects-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-projects/client-cv-projects.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-working-history/models/client-cv-working-history-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-working-history/client-cv-working-history.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-skills/models/client-cv-skills-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-skills/client-cv-skills.js' %}"></script>

<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-export/models/client-cv-export-model.js' %}"></script>
<script type="text/javascript" src="{% static 'app/modules/client-cv-part/cv-export/client-cv-export.js' %}"></script>
{% endcompress %}
