{% load static %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel='stylesheet' href="{% static 'libraries/semantic/packaged/css/semantic.min.css' %}" />
<link rel='stylesheet' href="{% static 'libraries/selectize/css/selectize.css' %}" />
<link rel='stylesheet' href="{% static 'libraries/angular/ng-table/css/ng-table.min.css' %}" />
<link rel='stylesheet' href="{% static 'libraries/jquery/remodal/jquery.remodal.css' %}" />
<link rel='stylesheet' href="{% static 'libraries/jquery/responsive-tab/css/easy-responsive-tabs.css' %}" />

<link rel='stylesheet' href="{% static 'libraries/bootstrap/css/bootstrap.min.css' %}" />

<link rel='stylesheet' href="{% static 'libraries/jquery/jstree/themes/default/style.min.css' %}" />
<link rel='stylesheet' href="{% static 'libraries/jquery/datetimepicker/jquery.datetimepicker.css' %}" />

<link rel='stylesheet' href="{% static 'css/back.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png?v=2' %}"/>
<script type="text/javascript" src="{% static 'libraries/jquery/jquery-2.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/jquery/jquery-ui.min.js' %}"></script>

<script type="text/javascript">
    $(function(){
        $("#spinner").fadeOut("slow");
        var currentMenu = "#" + "{{ CURRENT_MENU }}";
        var currentMenuSide = "#" + "{{ CURRENT_MENU }}-side";
        $(currentMenu).addClass('active');
        $(currentMenuSide).addClass('active');

        $('img').bind('error', function (e) {
            $(this).attr('src', '{{ STATIC_URL }}img/default-thumbnail.jpg');
        });
    });
</script>