{% load static %}
<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title data-base-url="{{ BASE_URL }}" data-static-url="{{ STATIC_URL }}" data-media-url="{{ MEDIA_URL }}">
            {% block title %}{% endblock %}
        </title>

        {% include 'back/header_ref.html' %}

        <link rel='stylesheet' href="{% static 'css/back.css' %}" />
        <link rel='stylesheet' href="{% static 'libraries/angular/ng-table/css/ng-table.min.css' %}" />

    </head>

    <body data-ng-app="App" class="container">
        <div id="waiting-heading">
            <img src="{% static 'img/loading-line.gif' %}" style="margin-top: 10px" />
        </div>
        <input type="hidden" id="js-vars" value="{{ js_vars }}" />
        <div class="row">
            <div class="col-md-12 hf-background">
                <div class="row">
                    <div class="col-md-4">
                        <a href="{% url 'user:index' %}" style="color:white">
                            <span class="main-logo">XIVILA</span>
                        </a>
                    </div>

                    <div class="col-md-8" data-ng-controller='ClientUserLogin'>
                        <form class="form-inline" role="form" data-ng-submit='submitFormLogin()' method="post" accept-charset="utf-8">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="userEmail">Email address</label>
                                <input type="email" class="form-control" id="userEmail" data-ng-model='email' autofocus required placeholder="Email...">
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="userPassword">Password</label>
                                <input type="password" class="form-control" id="userPassword" data-ng-model='password' required placeholder="Password...">
                            </div>

                            <button type="submit" class="btn btn-info">Sign in</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-12">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div class="row hf-background">
            <div class="col-md-12" style="margin-top: 8px">
                ©2014 XIVILA
            </div>
        </div>

        {% include 'back/footer_ref.html' %}

    </body>
</html>