{% load static %}
<!DOCTYPE html>
<html lang="vi">
	<head>
		<title data-base-url="{{ BASE_URL }}" data-static-url="{{ STATIC_URL }}" data-media-url="{{ MEDIA_URL }}">
            {% block title %}{% endblock %}
        </title>
        {% include 'back/header_ref.html' %}
		<style type="text/css">
			#spinner {
				position: fixed;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				z-index: 99999;
				/*
				opacity: 0.8;
				*/
				background: url("{{ STATIC_URL }}img/loading-line.gif") 50% 50% no-repeat white;
			}
		</style>
    </head>

    <body data-ng-app="App" class="container"><div id="spinner"></div>
		<div id="waiting-heading">
			<img src="{% static 'img/loading-line.gif' %}" style="margin-top: 10px" />
		</div>
        {% block content %}{% endblock %}
		
        {% include 'back/footer_ref.html' %}
    </body>
</html>