{% load static %}

<div class="remodal" data-remodal-id="modal" data-remodal-options='{ "hashTracking": false }' data-ng-controller="ClientCompanyModal">
	
	<div style="text-align: left">
		<!--
		<h2>Company Editor</h2>
		-->
		<form class="ui form segment" id="company-form" data-ng-submit="submitFormEdit(true)">
			{% csrf_token %}
			<div class="field">
				<label>Tỉnh</label>
                <!--
				<input type="text" id="tinh" data-ng-model="model.fields.tinh" required placeholder="Tỉnh..."/>
				-->
                <select id="select-tinh"></select>
			</div>
			
			<div class="field">
				<label>Chi nhánh</label>
				<input type="text" id="chinhanh" data-ng-model="model.fields.chinhanh" placeholder="Chi nhánh..."/>
			</div>

            <div class="field">
				<label>Tên Cty</label>
				<input type="text" id="cty" data-ng-model="model.fields.cty" placeholder="Tên Cty..."/>
			</div>

            <div class="field">
				<label>Mã số thuế</label>
				<input type="text" id="mst" data-ng-model="model.fields.mst" placeholder="Mã số thuế..."/>
			</div>

            <div class="field">
				<label>Huyện</label>
				<input type="text" id="huyen" data-ng-model="model.fields.huyen" placeholder="Huyện..."/>
			</div>

            <div class="field">
				<label>Xã</label>
				<input type="text" id="xa" data-ng-model="model.fields.xa" placeholder="Xã..."/>
			</div>

            <div class="field">
				<label>Loại doanh nghiệp</label>
				<input type="text" id="loaidn" data-ng-model="model.fields.loaidn" placeholder="Loại doanh nghiệp..."/>
			</div>

            <div class="field">
				<label>Địa chỉ</label>
				<input type="text" id="diachi" data-ng-model="model.fields.diachi" placeholder="Địa chỉ..."/>
			</div>

            <div class="field">
				<label>Năm SXKD</label>
				<input type="number" id="namsxkd" data-ng-model="model.fields.namsxkd" placeholder="Năm SXKD..."/>
			</div>

            <div class="field">
				<label>Phone</label>
				<input type="text" id="phone" data-ng-model="model.fields.phone" placeholder="Phone..."/>
			</div>

            <div class="field">
				<label>mail</label>
				<input type="email" id="email" data-ng-model="model.fields.email" placeholder="Email..."/>
			</div>

            <div class="field">
				<label>Ngành nghề</label>
				<input type="text" id="nganhnghe" data-ng-model="model.fields.nganhnghe" placeholder="Ngành nghề..."/>
			</div>

            <div class="field">
				<label>Doanh thu</label>
				<input type="number" id="doanhthu" data-ng-model="model.fields.doanhthu" placeholder="Doanh thu..."/>
			</div>

            <div class="field">
				<label>Lợi nhuận trước thuế</label>
				<input type="number" id="lntruocthue" data-ng-model="model.fields.lntruocthue" placeholder="Lợi nhuận trước thuế..."/>
			</div>

            <div class="field">
				<label>Lợi nhuận từ XS</label>
				<input type="number" id="lntusx" data-ng-model="model.fields.lntusx" placeholder="Lợi nhuận từ XS..."/>
			</div>

            <div class="field">
				<label>DSCR</label>
				<input type="number" id="dscr" data-ng-model="model.fields.dscr" placeholder="DSCR..."/>
			</div>

            <div class="field">
				<label>Phân loại</label>
				<input type="text" id="ploai" data-ng-model="model.fields.ploai" placeholder="Phân loại..."/>
			</div>

            <div class="field">
				<label>Ghi chú</label>
                <textarea id="note" data-ng-model="model.fields.note" rows=3 placeholder="Ghi chú..."></textarea>
			</div>

			<div class="field" data-ng-show="model.vars.errorMessage" style="margin:0">
				<div class="ui red message" style="margin:0; margin-bottom:17px" >
					<ul>
						<li ng-repeat="message in model.vars.errorMessage">{$ message $}</li>
					</ul>
				</div>
			</div>
			
			<div style="text-align: right">
				<img src="{% static 'img/loading-line.gif' %}" style="height:10px" data-ng-show="model.vars.displayLoading"/>
				&nbsp;&nbsp;
				<button type="button" class="ui button secondary" ng-click="submitFormEdit()">
					Save
				</button>
				<button class="ui button primary" ng-show="!model.vars.isEdit">
					Continue
				</button>
			</div>
		</form>
	</div>
	
</div>
