{% extends 'back/base_admin.html' %}
{% load static %}
{% block title %}Company{% endblock %}
{% block content %}

    <div data-ng-controller="ClientCompany" ng-init="model.act.init()">

        <div id="float-panel">
            <span>
                <b style="cursor: pointer;float: left" data-ng-click="selectAllCheckBox()">
                    <i class="checkmark icon" style="font-size: 20px"></i>
                    ({$ model.vars.totalCheck $} / {$ model.vars.listItemCount $})
                </b>
            </span>

            <span style="text-align: right;float: right">
                <b style="cursor: pointer" data-ng-click="openFormEdit()">
                    Add new &nbsp;&nbsp;
                </b>
            </span>
        </div>

        <div>
            <input type="file" id="data_file" name="data_file" style="float: left"/>
            <button class="positive ui button" style="float: left" ng-click="submitFormAddByUpload()">
                <i class="upload icon"></i>
                Upload excel file
            </button>
            &nbsp;&nbsp;&nbsp;
            <a href="{% static 'doc/company_excel_sample.xlsx' %}">Sample file</a>
        </div>

        <br/><hr/>


        <form class="six column stackable ui grid" method="get" action="./">

            <input type="hidden" id="tinh_thanh" name="tinh_thanh"/>
            <input type="hidden" id="sp_tiep_can" name="sp_tiep_can"/>
            <input type="hidden" id="kq_cuoc_goi" name="kq_cuoc_goi"/>
            <input type="hidden" id="kq_cuoc_gap" name="kq_cuoc_gap"/>
            <input type="hidden" id="tt_khai_thac" name="tt_khai_thac"/>

            <div class="column">
                <select id="select-tinh_thanh"></select>
            </div>
            <div class="column">
                <div style="display: none">
                    <select id="select-sp_tiep_can"></select>
                </div>
            </div>
            <div class="column">
                <div style="display: none">
                    <select id="select-kq_cuoc_goi"></select>
                </div>
            </div>
            <div class="column">
                <div style="display: none">
                    <select id="select-kq_cuoc_gap"></select>
                </div>
            </div>

            <div class="column">
                <div style="display: none">
                    <select id="select-tinh_trang_khai_thac"></select>
                </div>
            </div>
            <div class="column">
                <button class="ui button">
                    <i class="filter icon"></i>
                    Filter
                </button>
            </div>
        </form>

        <table class="table table-striped" id="main-table">
            <thead>
                <tr>
                    <th style="width: 30px;cursor: pointer" data-ng-click="selectAllCheckBox()">
                        <i class="checkmark icon" style="font-size: 20px"></i>
                    </th>
                    <th>Stt</th>
                    <th>Công ty ({$ model.vars.totalCheck $} / {$ model.vars.listItemCount $})</th>
                    <th>Tỉnh thành</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th colspan="3" style="text-align: right">
                        <b style="cursor: pointer" data-ng-click="openFormEdit()">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Add new &nbsp;&nbsp;
                        </b>
                    </th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>
                        <i class="remove icon" data-ng-show="model.vars.listItemId" style="font-size: 20px" data-ng-click="openFormRemove(model.vars.listItemId)"></i>
                    </td>
                    <td colspan="8">
                        <div class="ui fluid input" id="anchor-pos">
                            <input type="text" class="form-control" data-ng-model="model.vars.inputFilter" autofocus placeholder="Search..." />
                        </div>
                    </td>
                </tr>
                <tr data-ng-repeat="item in model.vars.listItem">
                    <td><input type="checkbox" class="selectCheckBox" data="{$ item.id $}" data-ng-click="selectCheckBox()" /></td>
                    <td>{$ $index + 1 $}</td>
                    <td>{$ item.cty $}</td>
                    <td>{$ item.tinh | mapTitle : model.ref.list_tinh_thanh_ref $}</td>
                    <td>{$ item.phone $}</td>
                    <td>{$ item.email $}</td>
                    <td class="action-icon" data-ng-click="openFormView(item.id)"><i class="search icon" style="font-size: 20px"></i></td>
                    <td class="action-icon" data-ng-click="openFormEdit(item.id)"><i class="pencil icon" style="font-size: 20px"></i></td>
                    <td class="action-icon" data-ng-click="openFormRemove(item.id)"><i class="remove icon" style="font-size: 20px"></i></td>
                </tr>
                
            </tbody>
            
            <tfoot>
                <tr>
                    <th style="cursor: pointer">
                        <i class="remove icon" data-ng-show="model.vars.listItemId" style="font-size: 20px" data-ng-click="openFormRemove(model.vars.listItemId)"></i>
                    </th>
                    <th colspan="8">
                        &nbsp;
                    </th>
                </tr>
            </tfoot>
            
        </table>
        {% include 'Company/company_modal.html' %}
        {% include 'Administrator/administrator_quota_view.html' %}
    </div>

{% endblock %}