{% extends 'back/base_admin.html' %}
{% load static %}
{% block title %}Company{% endblock %}
{% block content %}
<div class="ui grid">
    <div class="sixteen wide column">

        <div ng-controller="ClientCompanyExchange">
            {% csrf_token %}

            <div>
                <p>
                    <b>{$ model.vars.assign_ratio_str $}</b>
                </p>
                <div id="quota_tree"></div>
            </div>
            <br/>
            <div>
                <select id="owner-select"></select>
            </div>
        </div>

        <div data-ng-controller="ClientCompany" ng-init="model.act.init('quota')">

            <div id="float-panel">
                <div>

                    <table style="width: 100%">
                        <tr>
                            <td style="width: 130px">
                                <b style="cursor: pointer;float: left" data-ng-click="selectAllCheckBox()">
                                    <i class="checkmark icon" style="font-size: 20px"></i>
                                    ({$ model.vars.totalCheck $} / {$ model.vars.listItemCount $})
                                </b>
                            </td>
                            <td style="text-align: left">
                                <div style="height:43px" ng-show="model.vars.user_level">
                                    <button class="ui positive button" ng-show="model.vars.listItemId" ng-click="openFormChangeOwner(model.vars.listItemId, 'reject')">
                                        <i class="double angle left icon"></i>
                                        Trả chỉ tiêu
                                    </button>
                                </div>
                            </td>
                            <td style="text-align: right">
                                <div style="height:43px">
                                    <button class="ui positive button" ng-show="model.vars.listItemId" ng-click="openFormChangeOwner(model.vars.listItemId, 'send')">
                                        Giao chỉ tiêu
                                        <i class="double angle right icon"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

            <table style="width: 100%">
                <tr>
                    <td style="text-align: left">
                        <div style="height:43px" ng-show="model.vars.user_level">
                            <button class="ui positive button" ng-show="model.vars.listItemId" ng-click="openFormChangeOwner(model.vars.listItemId, 'reject')">
                                <i class="double angle left icon"></i>
                                Trả chỉ tiêu
                            </button>
                        </div>
                    </td>
                    <td style="text-align: right">
                        <div style="height:43px">
                            <button class="ui positive button" ng-show="model.vars.listItemId" ng-click="openFormChangeOwner(model.vars.listItemId, 'send')">
                                Giao chỉ tiêu
                                <i class="double angle right icon"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>


            <form class="five column stackable ui grid" method="get" action="./quota">
            <input type="hidden" id="tinh_thanh" name="tinh_thanh"/>
                <input type="hidden" id="sp_tiep_can" name="sp_tiep_can"/>
                <input type="hidden" id="kq_cuoc_goi" name="kq_cuoc_goi"/>
                <input type="hidden" id="kq_cuoc_gap" name="kq_cuoc_gap"/>
                <input type="hidden" id="tt_khai_thac" name="tt_khai_thac"/>
                <input type="hidden" id="gt_pk_khac" name="gt_pk_khac"/>

                <div class="column">
                    <select id="select-tinh_thanh"></select>
                </div>
                <div class="column">
                    <select id="select-sp_tiep_can"></select>
                </div>
                <div class="column">
                    <select id="select-kq_cuoc_goi"></select>
                </div>
                <div class="column">
                    <select id="select-kq_cuoc_gap"></select>
                </div>

                <div class="column">
                    <select id="select-tinh_trang_khai_thac"></select>
                </div>

                <div class="column">
                    <select id="select-gt_pk_khac"></select>
                </div>

                <div class="column">
                    <input type="text" id="ngay_tra_ho" name="ngay_tra_ho" class="single-control" placeholder="Ngày trả HO..."/>
                </div>

                <div class="column">
                    <button class="ui button">
                        <i class="filter icon"></i>
                        Filter
                    </button>
                </div>
            </form>

            <table class="table table-striped" id="main-table">
                <thead>
                    <tr>

                        <th style="width: 30px;cursor: pointer" data-ng-click="selectAllCheckBox()">
                            <i class="checkmark icon" style="font-size: 20px"></i>
                        </th>
                        <th>Stt</th>
                        <th>MST ({$ model.vars.totalCheck $} / {$ model.vars.listItemCount $})</th>
                        <th>Công ty</th>
                        <th>SP tiếp cận</th>
                        <th>KQ cuộc gọi</th>
                        <th>KQ cuộc gặp</th>
                        <th>TT khai thác</th>
                        <th style="text-align: center">
                            &nbsp;
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td colspan="9">
                            <div class="ui fluid input" id="anchor-pos">
                                <input type="text" class="form-control" data-ng-model="model.vars.inputFilter" autofocus placeholder="Search..." />
                            </div>
                        </td>
                    </tr>
                    <tr data-ng-repeat="item in model.vars.listItem">
                        <td><input type="checkbox" class="selectCheckBox" data="{$ item.id $}" data-ng-click="selectCheckBox()" /></td>
                        <td>{$ $index + 1 $}</td>
                        <td>{$ item.mst $}</td>
                        <td>{$ item.cty $}</td>
                        <td>{$ item.sp_tiep_can | mapTitle : model.ref.list_sp_tiep_can_ref $}</td>
                        <td>{$ item.kq_cuoc_goi | mapTitle : model.ref.list_ket_qua_cuoc_goi_ref $}</td>
                        <td>{$ item.kq_cuoc_gap | mapTitle : model.ref.list_ket_qua_cuoc_gap_ref $}</td>
                        <td>{$ item.tinh_trang_khai_thac | mapTitle : model.ref.list_tinh_trang_khai_thac_ref $}</td>
                        <td class="action-icon" data-ng-click="openFormView(item.id)"><i class="search icon" style="font-size: 20px"></i></td>
                    </tr>

                </tbody>
            </table>

            {% include 'Administrator/administrator_quota_view.html' %}
        </div>
    </div>

</div>




{% endblock %}