{% extends 'back/base_admin.html' %}
{% load static %}
{% block title %}Company{% endblock %}
{% block content %}
    <div class="ui grid">
        <div class="sixteen wide column">
            <div data-ng-controller="ClientCompany" ng-init="model.act.init('quota_preview')">
                {% csrf_token %}
                <div id="float-panel"></div>
                <h2 style="margin:0;line-height: 1">{{ owner }} - {{ zone_name }}</h2>
                <table class="table table-striped" id="main-table">
                    <thead>
                        <tr>
                            <th>MST</th>
                            <th>Công ty ({$ model.vars.listItemCount $})</th>
                            <th>SP tiếp cận</th>
                            <th>KQ cuộc gọi</th>
                            <th>TT khai thác</th>
                            <th style="text-align: center">
                                &nbsp;
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td colspan="6">
                                <div class="ui fluid input" id="anchor-pos">
                                    <input type="text" class="form-control" data-ng-model="model.vars.inputFilter" autofocus placeholder="Search..." />
                                </div>
                            </td>
                        </tr>
                        <tr data-ng-repeat="item in model.vars.listItem">
                            <td>{$ item.mst $}</td>
                            <td>{$ item.cty $}</td>
                            <td>{$ item.sp_tiep_can | mapTitle : model.ref.list_sp_tiep_can_ref $}</td>
                            <td>{$ item.kq_cuoc_goi | mapTitle : model.ref.list_ket_qua_cuoc_goi_ref $}</td>
                            <td>{$ item.tinh_trang_khai_thac | mapTitle : model.ref.list_tinh_trang_khai_thac_ref $}</td>
                            <td class="action-icon" data-ng-click="openFormView(item.id)"><i class="search icon" style="font-size: 20px"></i></td>
                        </tr>
                    </tbody>

                </table>

                {% include 'Administrator/administrator_quota_view.html' %}
            </div>
        </div>

    </div>
{% endblock %}
