{% load static %}

<div class="remodal" data-remodal-id="modal" data-remodal-options='{ "hashTracking": false }' data-ng-controller="ClientAdminModal">
	
	<div style="text-align: left">
		<!--
		<h2>Administrator Editor</h2>
		-->
		<form class="ui form segment" id="administrator-form" data-ng-submit="submitFormEdit(true)">
			{% csrf_token %}
            <div class="field">
				<label>Username</label>
				<input type="text" id="uid" data-ng-model="model.fields.uid" data-ng-disabled="model.vars.isEdit" required placeholder="Username..."/>
			</div>

			<div class="field">
				<label>Email</label>
				<input type="email" id="email" data-ng-model="model.fields.email" data-ng-disabled="model.vars.isEdit" required placeholder="Email..."/>
			</div>
			
			<div class="field">
				<label>Password</label>
				<input type="password" id="password" data-ng-model="model.fields.password" placeholder="password..."/>
			</div>
			
			<div class="field">
				<label>Full name</label>
				<input type="text" id="name" data-ng-model="model.fields.name" required placeholder="Full name..."/>
			</div>

			<div class="field" data-ng-show="!model.vars.restrict">
				<label>Zone</label>
				<select id="select-zone"></select>
			</div>
            <!--
			<div class="field" data-ng-show="!model.vars.restrict">
				<label>Role</label>
				<select id="select-role" data-ng-disabled="model.vars.restrict"></select>
			</div>
            -->
			<div class="field" data-ng-show="model.vars.errorMessage" style="margin:0">
				<div class="ui red message" style="margin:0; margin-bottom: 17px" >
					<ul>
						<li ng-repeat="message in model.vars.errorMessage">{$ message $}</li>
					</ul>
				</div>
			</div>
			
			<div style="text-align: right">
				<img src="{% static 'img/loading-line.gif' %}" style="height:10px" data-ng-show="model.vars.displayLoading"/>
				&nbsp;&nbsp;
				<button type="button" class="ui button secondary" ng-click="submitFormEdit()">
					Save
				</button>
				<button class="ui button primary" ng-show="!model.vars.isEdit">
					Continue
				</button>
			</div>
		</form>
	</div>
	
</div>