{% extends 'back/base_admin.html' %}
{% load static %}
{% block title %}Administrator{% endblock %}
{% block content %}

    <div data-ng-controller="ClientAdmin">
        <h2 style="margin: 0px; line-height: 1">{{ admin_item.name }}</h2>
        <hr/>
        <table>
            <tr>
                <td><b>Username</b></td>
                <td><b>:</b> {{ admin_item.uid }}</td>
            </tr>

            <tr>
                <td><b>Email</b></td>
                <td><b>:</b> {{ admin_item.email }}</td>
            </tr>

            <tr>
                <td colspan="2">
                    <br/>
                    <button class="ui button positive" data-ng-click="openFormEdit(model.vars.adminItem.id)">
                        Edit
                    </button>
                </td>
            </tr>
        </table>
        {% include 'Administrator/administrator_modal.html' %}
    </div>

{% endblock %}