{% load static %}

<div class="remodal" data-remodal-id="modalView" data-remodal-options='{ "hashTracking": false }' data-ng-controller="ClientCompanyModal">
	
	<div style="text-align: left" class="ui segment">
		<!--
		<h2>Report Editor</h2>
		-->
		<table class="table table-striped">
			{% csrf_token %}

            <tr>
				<td><b>Công ty</b></td>
                <td><b>{$ model.view.cty $}</b></td>
			</tr>

            <tr>
				<td><b>Kết quả cuộc gọi</b></td>
                <td><b>{$ model.view.kq_cuoc_goi | mapTitle : model.ref.list_ket_qua_cuoc_goi_ref $}</b></td>
			</tr>

            <tr>
				<td><b>SP tiếp cận</b></td>
                <td><b>{$ model.view.sp_tiep_can | mapTitle : model.ref.list_sp_tiep_can_ref $}</b></td>
			</tr>

            <tr>
				<td><b>Tình trạng khai thác</b></td>
                <td><b>{$ model.view.tinh_trang_khai_thac | mapTitle : model.ref.list_tinh_trang_khai_thac_ref $}</b></td>
			</tr>

            <tr>
				<td>Tỉnh</td>
                <td>{$ model.view.tinh $}</td>
			</tr>

            <tr>
				<td>Mã số thuế</td>
                <td>{$ model.view.mst $}</td>
			</tr>

            <tr>
				<td>Huyện</td>
                <td>{$ model.view.huyen $}</td>
			</tr>

            <tr>
				<td>Xã</td>
                <td>{$ model.view.xa $}</td>
			</tr>

             <tr>
				<td>Loại doanh nghiệp</td>
                 <td>{$ model.view.loaidn $}</td>
			</tr>

            <tr>
				<td>Địa chỉ</td>
                <td>{$ model.view.diachi $}</td>
			</tr>

            <tr>
				<td>Năm sản xuất kinh doanh</td>
                <td>{$ model.view.namsxkd $}</td>
			</tr>

            <tr>
				<td>Điện thoại</td>
                <td>{$ model.view.phone $}</td>
			</tr>

            <tr>
				<td>Email</td>
                <td>{$ model.view.email $}</td>
			</tr>

            <tr>
				<td>Ngành nghề</td>
                <td>{$ model.view.nganhnghe $}</td>
			</tr>

            <tr>
				<td>Doanh thu</td>
                <td>{$ model.view.doanhthu $}</td>
			</tr>

            <tr>
				<td>Lợi nhuận trước thuế</td>
                <td>{$ model.view.lntruocthue $}</td>
			</tr>

            <tr>
				<td>Lợi nhuận từ sản xuất</td>
                <td>{$ model.view.lntusx $}</td>
			</tr>

            <tr>
				<td>DSCR</td>
                <td>{$ model.view.dscr $}</td>
			</tr>

            <tr>
				<td>Phân loại</td>
                <td>{$ model.view.ploai $}</td>
			</tr>

            <tr>
				<td>Ghi chú</td>
                <td>{$ model.view.note $}</td>
			</tr>
		</table>
	</div>
	
</div>
