{% extends 'back/login.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}

	<div class="ui grid stackable" data-ng-controller='ClientAdminLogin'>
		<div class="three column row">
			<div class="five wide column">
				&nbsp;
			</div>
			
			<div class="six wide column" style="text-align: center">
				<br/><br/><br/>
				<!--
                <h2>Administrator Login</h2>
                -->
                <img src="{% static 'img/maritime-logo.png' %}"/>
				<form class="ui form segment" data-ng-submit='submitFormLogin()' style="text-align: left">
					{% csrf_token %}
					<div class="field">
						<label>Username</label>
						<div class="ui left labeled icon input">
							<input type="text" id="uid" data-ng-model='uid' placeholder="Username..." autofocus/>
							<i class="user icon"></i>
							<div class="ui corner label">
								<i class="icon asterisk"></i>
							</div>
						</div>
					</div>
					
					<div class="field">
						<label>Password</label>
						<div class="ui left labeled icon input">
							<input type="password" id="password" data-ng-model='password' placeholder="Password..." required/>
							<i class="lock icon"></i>
							<div class="ui corner label">
								<i class="icon asterisk"></i>
							</div>
						</div>
					</div>
					
					<div class="field">
						<a href="#" data-ng-click="submitFormForgotPassword()">Forgot password</a>
					</div>
					
					<div class="field" data-ng-show="model.other.errorMessage" style="margin:0">
						<div class="ui red message" style="margin:0; margin-bottom: 17px" >
							<ul>
								<li data-ng-repeat="message in model.other.errorMessage">{$ message $}</li>
							</ul>
						</div>
					</div>
					
					<button class="ui blue submit button">Login</button>
				</form>
			</div>
			
			<div class="five wide column">
				&nbsp;
			</div>
		</div>
	</div>
{% endblock %}