{% load static %}

<div class="remodal" data-remodal-id="modal" data-remodal-options='{ "hashTracking": false }' data-ng-controller="ClientUserModal">
	
	<div style="text-align: left">
		<!--
		<h2>User Editor</h2>
		-->
		<form class="ui form segment" id="user-form" data-ng-submit="submitFormEdit()">
			{% csrf_token %}
			<div class="field">
				<label>User name</label>
				<input type="text" id="uid" data-ng-model="model.fields.uid" data-ng-disabled="model.vars.isEdit" required placeholder="User name..."/>
			</div>
			
			<div class="field">
				<label>Email</label>
				<input type="email" id="email" data-ng-model="model.fields.email" data-ng-disabled="model.vars.isEdit" required placeholder="Email..."/>
			</div>
			
			<div class="field">
				<label>Password</label>
				<input type="password" id="password" data-ng-model="model.fields.password" placeholder="password..."/>
			</div>
			
			<div class="field">
				<label>Full name</label>
				<input type="text" id="name" data-ng-model="model.fields.name" required placeholder="Full name..."/>
			</div>
			
			<div class="field">
				<label>Phone</label>
				<input type="text" id="phone" data-ng-model="model.fields.phone" required placeholder="Phone..."/>
			</div>
			
			<div class="field" style="display: none">
				<label>Title</label>
				<select id="select-title"></select>
			</div>
			
			<div class="field" style="display: none">
				<label>Zone</label>
				<select id="select-zone"></select>
			</div>
			
			<div class="field" style="display: none">
				<label>Role</label>
				<select id="select-role"></select>
			</div>
			
			<div class="field" data-ng-show="model.vars.errorMessage" style="margin:0">
				<div class="ui red message" style="margin:0; margin-bottom: 17px" >
					<ul>
						<li ng-repeat="message in model.vars.errorMessage">{$ message $}</li>
					</ul>
				</div>
			</div>
			
			<div style="text-align: right">
				<img src="{% static 'img/loading-line.gif' %}" style="height:10px" data-ng-show="model.vars.displayLoading"/>
				&nbsp;&nbsp;
				<button class="ui button positive">
					Save
				</button>
			</div>
		</form>
	</div>
	
</div>