{% extends 'back/base_user.html' %}
{% load static %}
{% block title %}User{% endblock %}
{% block content %}

    <div data-ng-controller="ClientUser">
        <h2 style="margin: 0px; line-height: 1">{{ user_item.name }}</h2>
        <hr/>
        <table>
            <tr>
                <td><b>User name</b></td>
                <td><b>:</b> {{ user_item.uid }}</td>
            </tr>
            
            <tr>
                <td><b>Email</b></td>
                <td><b>:</b> {{ user_item.email }}</td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <br/>
                    <button class="ui button positive" data-ng-click="openFormEdit(model.vars.userItem.id)">
                        Edit
                    </button>
                </td>
            </tr>
        </table>
        {% include 'User/user_modal.html' %}
    </div>

{% endblock %}