{% extends 'back/base_admin.html' %}
{% load static %}
{% block title %}Tinhthanh{% endblock %}
{% block content %}

    <div data-ng-controller="ClientTinhthanh">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30px;cursor: pointer" data-ng-click="selectAllCheckBox()">
                        <i class="checkmark icon" style="font-size: 20px"></i>
                    </th>
                    <th>ID</th>
                    <th>Value</th>
                    <th colspan="2" style="text-align: right">
                        <b style="cursor: pointer" data-ng-click="openFormEdit()">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Add new &nbsp;&nbsp;
                        </b>
                    </th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>
                        <i class="remove icon" data-ng-show="model.vars.listItemId" style="font-size: 20px" data-ng-click="openFormRemove(model.vars.listItemId)"></i>
                    </td>
                    <td colspan="4">
                        <div class="ui fluid input">
                            <input type="text" class="form-control" data-ng-model="model.vars.inputFilter" autofocus placeholder="Search..." />
                        </div>
                    </td>
                </tr>
                <tr data-ng-repeat="item in model.vars.listItem">
                    <td><input type="checkbox" class="selectCheckBox" data="{$ item.id $}" data-ng-click="selectCheckBox()" /></td>
                    <td>{$ item.uid $}</td>
                    <td>{$ item.value $}</td>
                    <td class="action-icon" data-ng-click="openFormEdit(item.id)"><i class="pencil icon" style="font-size: 20px"></i></td>
                    <td class="action-icon" data-ng-click="openFormRemove(item.id)"><i class="remove icon" style="font-size: 20px"></i></td>
                </tr>
                
            </tbody>
            
            <tfoot>
                <tr>
                    <th style="cursor: pointer">
                        <i class="remove icon" data-ng-show="model.vars.listItemId" style="font-size: 20px" data-ng-click="openFormRemove(model.vars.listItemId)"></i>
                    </th>
                    <th colspan="4">
                        &nbsp;
                    </th>
                </tr>
            </tfoot>
            
        </table>
        {% include 'Tinhthanh/tinhthanh_modal.html' %}
    </div>

{% endblock %}
