{% load static %}

<div class="remodal" data-remodal-id="modal" data-remodal-options='{ "hashTracking": false }' data-ng-controller="ClientZoneModal">
	
	<div style="text-align: left">
		<!--
		<h2>Zone Editor</h2>
		-->
		<form class="ui form segment" id="zone-form" data-ng-submit="submitFormEdit(true)">
			{% csrf_token %}
			
			<div class="field">
				<label>Title</label>
				<input type="text" id="title" data-ng-model="model.fields.title" placeholder="title..."/>
			</div>
			
			<div class="field" data-ng-show="!model.vars.rootLevel">
				<label>Parent</label>
				<select id="parent"></select>
			</div>
			
			<div class="field" data-ng-show="model.vars.errorMessage" style="margin:0">
				<div class="ui red message" style="margin:0; margin-bottom: 17px" >
					<ul>
						<li ng-repeat="message in model.vars.errorMessage">{$ message $}</li>
					</ul>
				</div>
			</div>
			
			<div style="text-align: right">
				<img src="{% static 'img/loading-line.gif' %}" style="height:10px" data-ng-show="model.vars.displayLoading"/>
				&nbsp;&nbsp;
				<button type="button" class="ui button secondary" ng-click="submitFormEdit()">
					Save
				</button>
				<button class="ui button primary" ng-show="!model.vars.isEdit">
					Continue
				</button>
			</div>
		</form>
	</div>
	
</div>